@{
  Layout = "_Layout";
}
@using System.Security.Claims
@model IEnumerable<PierresTreat.Models.Treat>

<h1>Welcome to Pierre's Sweet & Savory Treats!</h1>

<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p> 
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create an account or Log in", "Index", "Account")</p>