@{
  Layout = "_Layout";
}

@model PierresTreat.Models.Flavor

<h4>Add a new flavor</h4>
<hr />
@using (@Html.BeginForm())
{
  <div class="mb-3">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
  </div>
  <input class="btn btn-dark" type="submit" value="Add Flavor" />
}
<hr />

<p>@Html.ActionLink("Show all flavors", "Index")</p>