@{
  Layout = "_Layout";
}

@model PierresTreat.Models.Flavor

<h2>Are you sure you want to delete this?</h2>

<h2>Delete @Model.Name?</h2>
<hr />
@using (Html.BeginForm())
{
  <input class="btn btn-dark" type="submit" value="Yes Delete @Model.Name" />
}
<hr />


@Html.ActionLink("Back to flavors", "Index")